<router-outlet>
  <div class="container m-8 mt-4">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col" colspan="1" style="text-align: center">
            Hola Mundo!
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center">Kennya Orona😎</td>
        </tr>
        <tr>
          <td style="text-align: center">Bernardo Castañeda😎</td>
        </tr>
        <tr>
          <td style="text-align: center">Martha Roman 😎</td>
        </tr>
        <tr>
          <td style="text-align: center">Hector Galarza😎</td>
        </tr>
      </tbody>
    </table>
  </div>
</router-outlet>
